
wechat/.gradle/checksums/checksums.lock
wechat/.gradle/checksums/sha1-checksums.bin
wechat/.gradle/checksums/md5-checksums.bin
wechat/.gradle/buildOutputCleanup/buildOutputCleanup.lock
wechat/.gradle/7.0.2/dependencies-accessors/dependencies-accessors.lock
wechat/.gradle/7.0.2/fileHashes/fileHashes.lock
